.DS_Store
__pycache__/

data/recovery/*

output/*
output/figures_paper/*
output/figures_paper/fig_toy_example/*

logs/*

src/fitting_neural/make_configs_cluster_snov.py
src/scripts/homann_analysis/plot_width_robustness_full.ipynb
src/fitting_neural/make_configs_cluster_robustness.py
src/fitting_neural/make_configs_cluster_robustness_refit.py
.DS_Store
