.DS_Store
__pycache__/

data/*
data/grid_search_results/*
data/grid_search_results/cnov_leaky/*
data/grid_search_results/cnov_fr/*
data/grid_search_results/snov_leaky/*
data/grid_search_results/snov_fr/*
data/recovery/*

output/*
output/figures_paper/*
output/figures_paper/fig_toy_example/*

logs/*
