# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
appnope
backcall
bzip2
ca-certificates
comm
contourpy
cycler
debugpy
decorator
entrypoints
expat
fonttools
imageio
importlib-resources
ipykernel
ipython
jedi
joblib
jupyter_client
jupyter_core
kiwisolver
krb5
lazy-loader
libcxx
libedit
libffi
libsodium
matplotlib
matplotlib-inline
ncurses
nest-asyncio
networkx
numpy
openssl
packaging
pandas
parso
pexpect
pickleshare
pillow
pip
platformdirs
prompt-toolkit
psutil
ptyprocess
pyaml
pygments
pyparsing
python
python-dateutil
python_abi
pytz
pyyaml
pyzmq
readline
scikit-image
scikit-learn
scikit-optimize
scipy
setuptools
six
sqlite
threadpoolctl
tifffile
tk
tornado
traitlets
tzdata
wcwidth
wheel
xz
zeromq
zipp
zlib
